{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Wish
{% endblock %}

{% block body %}
    <p>Details :</p>
    <a href="{{ path('wish_update', {'id': wish.id}) }}"><button>Update</button></a>
    <section class="details">
        <div>
            Titre : {{ wish.title }}
        </div>
        <div>
            Description : {{ wish.description }}
        </div>
        <div>
            Auteur : {{ wish.author }}
        </div>
        <div>
            Catégorie : {{ wish.category.name}}
        </div>
        <div>
            Crée le {{ wish.dateCreated | date('d/m/y H:i') }}
        </div>
    </section>
{% endblock %}

{% block style %}
    <style>
        .details > div {
            background-color: burlywood;
            margin: 20px;
            padding: 20px;
            text-align: center;
        }
        .flash-success {
            background-color: mediumseagreen;
        }

        .flash {
            padding: 20px;
            font-weight: bold;
            font-size: 1rem;
            margin: 1rem 0;
            color: #132135;
        }
    </style>
{% endblock %}